body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-color: #c1c0b9;
  border-width: 5px;
  width: 5%;
}

img {
  height: 10%;
}

h1 {
color: #15b7b9;
}

h3 {
color: #10ddc2;
}
